<div class="container col-centered">
    <div class="alert alert-danger alert-fixed col-sm-4">
        <strong>Ooops</strong>
    </div>
    <div class="row">
        <h2>Создание нового акта</h2>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="form-group">
                <label for="userName">Ваше ФИО</label>
                <input type="text" class="form-control" id="userName" ng-model="user.name" required="required"/>
            </div>

            <label>Свидетельство ИП</label>
            <div class="input-group">
                <span class="input-group-addon">Серия</span>
                <input type="number" class="form-control input-mini" id="certSerial" ng-model="user.certSerial" ng-pattern="onlyNumbers"/>
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">номер</span>
                <input type="number" class="form-control" id="certNumber" ng-model="user.certNumber" />
            </div>

            <label>Договор</label>
            <div class="input-group">
                <span class="input-group-addon">Номер</span>
                <input type="number" class="form-control" id="docNumber" ng-model="user.docNumber" />
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">дата</span>
                <input type="date" class="form-control" id="docSignDate" ng-model="user.docSignDate" />
            </div>

            <label for="salaryRate">Ставка в час</label>
            <div class="input-group col-sm-3">
                <input type="number" class="form-control" id="salaryRate" ng-model="user.salaryRate"/>
                <span class="input-group-addon">.00</span>
            </div>
            <br/>
            <br/>

            <label>Название задачи / часы</label>
            <div class="input-group">
                <span class="input-group-addon">Задача</span>
                <input type="text" class="form-control" id="mainTask" ng-model="act.mainTask" style="width: 350px;"/>
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">часы</span>
                <input type="number" class="form-control" id="mainTaskHours" ng-model="act.mainTaskHours"/>
            </div>

            <label>Работы в выхи</label>
            <div class="input-group collapse">
                <span class="input-group-addon">Задача</span>
                <input type="text" class="form-control" id="additionalTask" ng-model="act.additionalTask" style="width: 350px;"/>
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">часы</span>
                <input type="number" class="form-control" id="additionalTaskHours" ng-model="act.additionalTaskHours"/>
            </div>

            <label>Акт</label>
            <div class="input-group">
                <span class="input-group-addon">Номер</span>
                <input type="number" class="form-control" id="actNumber" ng-model="act.number" />
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">дата</span>
                <input type="date" class="form-control" id="createDate" ng-model="act.createDate"/>
            </div>
            <br/>

            <div class="form-group">
                <button ng-click="create()" class="btn btn-success">Сформировать акт</button>
                <button ng-click="sentToEmail()" class="btn btn-primary">Отправить на почту</button>
            </div>
        </div>
    </div>

</div>