<div class="container">
    <h2>Мои акты</h2>
    <div ng-show="acts.length == 0">Пока ничего нет</div>

    <table ng-show="acts.length > 0" st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th>Номер акта</th>
            <th>Дата формирования</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in acts" id="act_{{row.id}}">
            <td>{{row.actNumber}}</td>
            <td>{{row.createDate | date:'dd.MM.yyyy HH:mm' }}</td>
            <td style="cursor: pointer;" ng-click="removeAct(row.id)">X</td>
        </tr>
        </tbody>
    </table>

    <br/>
    <button ng-click="go('/create')" class="btn btn-primary">Сформировать акт</button>
</div>